<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for item, value in dict2|dictsort %}
            <LI>{{ value[0]|e }}: <B>{{ item|e }}</B>
                <UL>
                        {% for item2, value2 in value[1]|dictsort %}
                        <LI>{{ value2|e }}<B>{{ item2|e }}</B></LI>
                         {% endfor %}
                </UL>
            </LI>
        {% endfor %}
        </UL>
    </BODY>
</HTML>